/* blocks: */
#main{
    cursor: default;
}
.contains{
    background-color: rgb(248, 248, 248);
    width:700px;
    height:500px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    float:left;
    margin: auto;
}
.headbar{
    background-color: rgb(248, 248, 248);
    width:700px;
    height:50px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    float:left;
    margin: auto;
    text-align: center;
}
.toolbar{
    background-color: rgb(248, 248, 248);
    width:300px;
    height:50px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    float:left;
    margin: auto;
    text-align: center;
}
#tools{
    background-color: rgb(248, 248, 248);
    width:300px;
    height:500px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    float:left;
    margin: auto;
}
#myTexter{
    height: 25px;
}

/* canvas: */
#myCanvas{
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(196, 196, 196);
    border-radius: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}
#myDownload{
    color: black;
}
#myDownload:hover{
    background: #3a7ebe;
    color: #FFFFFF;
}

/* tool bar css: */
.slider:hover {
    opacity: 1;
} 
.slider {
    -webkit-appearance: none;
    width: 80% !important;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: auto;
    margin-left: auto;
} 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #3a7ebe;
    cursor: pointer;
}
.rowx {
    width: 100%;
    text-align: center;
    line-height: 60px;
}
.btnx {
    width: 50px;
    height: 50px;
    background: #757575;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 50px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
    text-align: center;		
}
.btnx2{
    background: rgb(199, 161, 92);
    color: white;
}
.btnx3{
    background: #dfdfdf;
    color: black;
}
.btnx:hover {
    background: #3a7ebe;
    color: #FFFFFF;
}
#ulx{
    line-height: 2.3em;
    text-indent: 0.7em;
    margin-right: auto;
    margin-left: auto;
}

.imgx{
    width: 50px;
    height: 50px;
    background: #a3a3a3;
    color: rgb(243, 243, 243);
    font-size: 15px;
    line-height: 50px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
    text-align: center;			
}
